body{
    background-color: rgb(237, 242, 246);
}
.sosyal-header{   
    background-color: rgb(63,66,87);
}

.sosyal-body{
    width: 80%;
    margin-top: 50px;
}
.user-middle{
    height: 100px;
    border-radius: 5px;
    background-color: white;
}
.user-header{
    background-image: url('https://html.crumina.net/html-olympus/img/top-header1.webp');
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.user-card{
    height: 450px;
    background-color: white;
    border-radius: 5px;
    margin: 1%;
    width: 23%;
    padding: 0 !important;
}
.user-title{
    height: 100px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.page-label{
    font-size: small;
    font-weight: bolder;
    color: white;
}

.search-input-bg-color{
    background-color: rgb(73, 76,98);  
}

.search-input, .search-input:focus{
    background-color: rgb(73, 76,98);
    border: none;         
}
.search-input::placeholder{
    color: rgb(117, 117, 117);  
}
.sosyal-text-color-1{
    color: rgb(117, 117, 117);  
}

.sosyal-icon{
    padding: .375rem .75rem;

}
.notif{
    display: flex;
    position: absolute;
    margin-top: -18px;
    margin-left: 15px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: red;
    align-items: center;
    justify-content: center;

}

.notif-label{
    font-size: 10px;
    font-weight: bold;
}

.menu-row{
    height: 100px;
}

.menu-link{
    color: #9a9fbf;
    font-size: 12px;
    font-weight: bolder;
}

.menu-link:hover{
    color: black;
    cursor: pointer;
}

.profile-image{
    margin-top: 5px;
    margin-left: 5px;
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 0.7px solid gray
}

.profile-image-container{
    margin-left: 45px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
}

.profile-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-name{
    font-size: 16px;
    font-weight: bolder;
}
.profile-name:hover{
    color: red;
    cursor: pointer;
}
.profile-address{
    color: #9a9fbf;
    font-size: 12px;
}

.follow-size{
    font-size: 12px;
    font-weight: bolder;
    color: rgb(98, 100, 115);
    margin-left: 20px;
}

.user-card-header{
    background-image: url('https://html.crumina.net/html-olympus/img/friend1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-card-body{
    height: 70%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-card-body .row {
    height: 20%;
}

.user-card-image{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 0.6px solid rgba(168, 166, 166, 0.45);
}

.user-card-image-container{
    margin-top: -38px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 76px;
    border-radius: 76px;
    background-color: white;
}

.user-card-name{
    font-size: 16px;
    color: rgb(34, 34, 36);
    font-weight: bolder;
}
.user-card-name:hover{
    color: red;
}
.user-card-address{
    font-size: 12px;
    color: rgb(98, 100, 115);
}
.user-card-count{
    font-size: 14px;
    color: rgb(34, 34, 36);
    font-weight: bolder;
}
.user-card-type{
    font-size: 12px;
    color: rgb(98, 100, 115);
}

.btn-icon-face{
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(56, 169, 255);
    padding: 15px;
}
.btn-icon-face:hover{
    cursor: pointer;
}
.btn-icon-message{
    padding: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #7c5ac2;
}
.btn-icon-message:hover{
    cursor: pointer;
}

.point-1{
    display: inline-block;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid grey;
    margin-right: 10px;
}

.point-2{
    display: inline-block;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid grey;
}

.point-active{
    background-color: #FF5E3A;
    border: 1px solid #FF5E3A;
}